
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("GetUpload", "Uploadtest", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>文件上传：<input type="file" name="myFile" /></div>
            <input type="submit" value="提交" />
        }
    </div>
</body>
</html>
