@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>首页</h2>
        <ol class="breadcrumb">
            <li>
                管理后台
            </li>
            <li class="active">
                <strong>首页</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">请选择左侧菜单操作</h3>
    </div>
</div>