@using PositiveEdu.DAL
@using PagedList
@using PagedList.Mvc
@model IEnumerable<ROLE>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>管理角色</h2>
        <ol class="breadcrumb">
            <li>
                <a href="###">账户及权限</a>
            </li>
            <li class="active">
                <strong>管理角色</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>管理角色</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>角色</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.NAME</td>
                                        <td>@item.UPDATE_TIME</td>
                                        <td>
                                            <a href="@Url.Action("EditRole", new { id = item.UUID})">修改</a>
                                        </td>
                                    </tr>

                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
