@using PositiveEdu.DAL
@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>批量导入</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/ActivityManage">活动管理</a>
            </li>
            <li class="active">
                <strong>批量导入</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>批量导入</h5>
                </div>
                <h2>活动名称：@ViewBag.Name</h2>
                <div class="ibox-content">
                    <form id="form1">

                        <div>
                            选择导入文件：<input type="file" name="file" id="fs" />
                            <input type="text" name="files" hidden="hidden" value="@ViewBag.id" id="fs1" />
                            <select id="sc" name="sc"></select>
                            <input type="button" value="提交" onclick="sub()" />
                        </div>
                    </form>



                    <div id="ts" p style="color:red;font-size:35px;float:right"></div>
                    <div class="hr-line-dashed"></div>


                    <div class="hr-line-dashed"></div>


                    <div class="hr-line-dashed"></div>
                    <div>

                        <div class="container">

                            <div class="progress">
                                <div class="progress-bar" id="a" style="width: 0px" role="progress-bar" aria-valuesnow="60"
                                     aria-valuesmin="0" aria-vluesmax="100">
                                    <span class="sr-only">60% compelete</span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div style="color:red;background-color:antiquewhite" id="c1">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-form.js"></script>

    <script>
        var b = 0;
        var c = 0;
        var tb = $("#tb");
        function timedCount() {

            $("#a").width(c);
            c = c + 1;
            console.log(c);
            t = setTimeout("timedCount()", 800)

        }
        function stopCount() {
            clearTimeout(t);
        }
        function qq() {
            $("#a").width(0);

        }
        function pp() {
            console.log("监听中")
            t1 = setTimeout("pp()", 400);
            if (b==1) {
                alert("读取完毕");


                //location.href = "/GifiManage";
            }

        }




//下拉列表数据数据填充
        function FullS1() {
            //获取对象
            var s1 = $("#sc");
           //数据填充
            s1.append("<option value='CustomerPhoneNum'>会员手机号</option> ");
            s1.append("<option value='CustomerId'>会员编号</option> ");
            s1.append("<option value='CustomerWechatNickName'>会员微信昵称</option> ");
            //s1.append("<option value='CustomerWechatHeadPhoto'>会员微信头像</option> ");
            s1.append("<option value='CustomerRealName'>会员真实姓名</option> ");
            //s1.append("<option value='CustomerSex'>性别</option> ");
            //s1.append("<option value='CustomerCertificateType'>证件类型-身份证、护照啥</option> ");
            s1.append("<option value='CustomerCertificateNum'>证件号码</option> ");
            //s1.append("<option value='CustomerBirthday'>生日</option> ");
            //s1.append("<option value='CustomerAddressProvince'>所属省</option> ");
            //s1.append("<option value='CustomerAddressCity'>所属市</option> ");
            //s1.append("<option value='CustomerAddressDistrict'>所属区</option> ");
            //s1.append("<option value='CustomerTakeTime'>会员入会时间</option> ");
            s1.append("<option value='CustomerWechatNum'>微信号</option> ");
            s1.append("<option value='CustomerWeiboNum'>微博号</option> ");
            s1.append("<option value='CustomerQQNum'>QQ号</option> ");
            s1.append("<option value='CustomerEmailNum'>Email</option> ");
            s1.append("<option value='CustomizeTag1'>客户自定义标签Tag1</option> ");
            s1.append("<option value='CustomizeTag2'>客户自定义标签Tag2</option> ");
            s1.append("<option value='CustomizeTag3'>客户自定义标签Tag3</option> ");
            s1.append("<option value='CustomizeTag4'>客户自定义标签Tag4</option> ");
            s1.append("<option value='CustomizeTag5'>客户自定义标签Tag5</option> ");
            s1.append("<option value='CustomizeTag6'>客户自定义标签Tag6</option> ");
            s1.append("<option value='CustomizeTag7'>客户自定义标签Tag7</option> ");
            s1.append("<option value='CustomizeTag8'>客户自定义标签Tag8</option> ");
            s1.append("<option value='CustomizeTag9'>客户自定义标签Tag9</option> ");
            s1.append("<option value='CustomizeTag10'>客户自定义标签Tag10</option> ");
        }
//导入
        function sub() {

            var t3 = $("#fs").val();
            if (t3 == "") {
                alert("请重新选择文件 后缀为 .xlsx ");
                return;;
            }
            var t3 = $("#fs").val().split('.')[1];
            if (t3 != null && t3 != "xlsx") {
                alert("请重新选择文件 后缀为 .xlsx ");
                return;
            }

            //数据提交

                        $("#form1").ajaxSubmit({
                        url: "@Url.Action("ReadFiles", "ActivityManage")",
                            type: "post",
                            beforeSend: function () {
                                timedCount();
                            },
                            success: function (r1) {

                                if (r1 != 0) {
                                    var r = JSON.parse(r1);
                                    console.log(r1);
                                    stopCount();
                                    $("#a").width("100%");


                                    //数据回显
                                    var c1 = $("#c1");
                                    c1.empty();
                                    var ct = parseInt(r.a3) + parseInt(r.a4);
                                    c1.append("该文件共"+ct+"行成功导入"+r.a3+"行，导入失败"+r.a4+"行</br>");
                          
                      
                                    c1.append("<a href ='/CustomerManage/DownloadFile?path=" + r.a5 + "' > 导入结果下载</a>");
                                   
                                }



                        },
                        error: function (aa) {
                        alert(aa);
                        }
                        });

        }



        $(function () {
            FullS1();
        });
    </script>
}